

<nav class="nav navbar-expand-sm navbar-light " >
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand" style="color: black; margin-left: 70px">white<b>panda</b></a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right" style="margin-top: 20px;margin-left: 20px">


        <li class="fab"><i class="fa fa-bell"></i><span class="badge">699</span></li>
        <li class="fab" style="background-color: limegreen">NS</li>
      </ul>
    </div>
  </div>

  <hr>
</nav>

