<div class="container">
  <div class="row">
   <a ><i class="fab fa-twitter"></i></a>
    <a><i class="fab fa-linkedin"></i></a>
    <a><i class="fab fa-instagram"></i></a>
    <a><i class="fab fa-facebook"></i></a>
  </div>
  <div>
    <p style="color:gray">Copyright @ 2019 White Panda Media Pvt. Ltd<br> All rights reserved</p>
  </div>

  <div class="row">
    <a href="#">&nbsp;<u> Privacy policy </u>&nbsp;|</a>
    <a href="#">&nbsp;<u>  Terms of service </u>&nbsp;|</a>
    <a href="#">&nbsp;<u>  Service Agreement </u>&nbsp;|</a>
    <a href="#">&nbsp;<u>  Contact Us </u>&nbsp;|</a>

  </div>
</div>
