
<h1> Content Store</h1>
<div class="para" >
<p style="color:#76D7C4; font-size: 17px; margin-left: 20px; padding-top: 10px">Got bulk orders or almost similar orders ? Fill the order brief in an  excel sheet</p>
  <br>
  <p style="color: gray; margin-left: 20px; margin-bottom: 30px">if you're wondering about an easy way to place orders in large numbers, we provide a way customized just for that.<br>
  Download our excel sheet and fill the order brief in the prescribed format and submit. in case you need any help <br>
    <u>we are just a click away to assist you in placeing your order</u></p>

  <div style="padding-bottom: 20px; margin-left: 20px">
    <button class="btn btn-default">Order via Excel Sheet</button>
  </div>
</div>
<br><br>
<app-bloglist></app-bloglist>
