h1{
  margin-top: 40px;
  margin-left: 80px;
  font-size: 40px;
}

.para {
  margin-top: 40px;
  margin-left: 80px;
  margin-right: 80px;
  background-color: #F6FCFB;
}

button {
  background: rgba(255, 255, 255,0);
  color: #76D7C4;
  border: solid 1px #76D7C4;

}
