<!--The content below is only a placeholder and can be replaced.-->


<link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">


<body>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<app-header></app-header>
<app-body></app-body>
<app-footer></app-footer>
<div class="container">
  <div class="fab"> <i class="far  fa-comment-alt" role ="button"(click)="click()"></i><span class="text">Comments</span></div>
  <div class="fab"> <i class="fa fa-code" (click)="click()"></i><span class="text">Inspect</span></div>
  <div class="fab"> <i class="fa fa-th-large" (click)="click()"></i><span class="text">screens</span></div>
</div>
</body>
